<div class="container-fluid">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/products">Produkter</a></li>
  <li class="breadcrumb-item active" *ngIf="product">{{ product.Varenavn }}</li>
</ol>
  <div class="row row-eq-height">
    <div class="col-md-12">
      <div class="card" *ngIf="product">
        <h1 class="card-header">{{ product.Varenavn }}</h1>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <img class="img-responsive" [src]="getImgSrc(product.Varenummer)" alt="product.Varenavn">
              <h5 class="card-title text-muted"><i>- {{ product.Smak }}</i></h5>
              <div class="" *ngIf="loggedInUser['favorites']">
                <button *ngIf="!loggedInUser['favorites'].includes(product._id); else elseBlock"
                        (click)="addFavorite(product._id)" class="btn btn-sm btn-success">
                  Legg til Favoritter
                </button>
                <ng-template #elseBlock>
                  <button (click)="removeFavorite(product._id)" class="btn btn-sm btn-warning">
                    Fjern fra Favoritter
                  </button>
                </ng-template>
              </div>
            </div>
              <div class="col-md-9">
              <h5 class="card-title" *ngIf="product.APK"><b>Alkohol Per Krone:</b></h5>
              <h5 class="card-title">{{ (product.APK | number : '1.3-3').toString() + ' ml/kr'}}</h5>
              <h5 class="card-title" *ngIf="product.Pris"><b>Pris:</b></h5>
              <h5 class="card-title">{{ product.Pris }},-</h5>
              <h5 class="card-title" *ngIf="product.Volum"><b>Volum:</b></h5>
              <h5 class="card-title">{{ product.Volum * 1000 }} ml</h5>
              <h5 class="card-title" *ngIf="product.Varetype"><b>Varetype:</b></h5>
              <h5 class="card-title">{{ product.Varetype }}</h5>
              <h5 class="card-title" *ngIf="product.Alkohol"><b>Alkoholprosent:</b></h5>
              <h5 class="card-title">{{ product.Alkohol + '%' }}</h5>
              <h5 class="card-title" *ngIf="passerTil"><b>Passer til:</b></h5>
              <h5 class="card-title">{{ passerTil }}</h5>
              <h5 class="card-title" *ngIf="product.Lagringsgrad"><b>Lagringsgrad:</b></h5>
              <h5 class="card-title">{{ product.Lagringsgrad }}</h5>
              <h5 class="card-title" *ngIf="product.Lukt"><b>Lukt:</b></h5>
              <h5 class="card-title">{{ product.Lukt }}</h5>
              <h5 class="card-title" *ngIf="product.Farge"><b>Farge:</b></h5>
              <h5 class="card-title">{{ product.Farge }}</h5>
              <h5 class="card-title" *ngIf="product.Metode"><b>Metode:</b></h5>
              <h5 class="card-title">{{ product.Metode }}</h5>
              <h5 class="card-title" *ngIf="product.Produsent"><b>Produsent:</b></h5>
              <h5 class="card-title">{{ product.Produsent }}</h5>
              <h5 class="card-title" *ngIf="land"><b>Land og region:</b></h5>
              <h5 class="card-title">{{ land }}</h5>
              <h5 class="card-title" *ngIf="product.Rastoff"><b>Råstoff:</b></h5>
              <h5 class="card-title">{{ product.Rastoff }}</h5>
              <h5 class="card-title" *ngIf="product.Emballasjetype"><b>Emballasje:</b></h5>
              <h5 class="card-title">{{ product.Emballasjetype }}</h5>
              <h5 class="card-title" *ngIf="product.Korktype"><b>Korktype:</b></h5>
              <h5 class="card-title">{{ product.Korktype }}</h5>
              <h5 class="card-title"><b>Varenummer:</b></h5>
              <h5 class="card-title">{{ product.Varenummer }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!product">
        <h5><b>Produktet lastes inn eller finnes ikke.</b></h5>
        <h6><a routerLink="/" routerLinkActive="active">Klikk her</a> for å gå tilbake til hovedsiden.</h6>
      </div>
    </div>
  </div>
</div>
<br>
