<h1>Out MongoDB is working!</h1>
<div *ngIf="users">
<ul *ngFor="let user of users">
  <li>{{ user.name }}</li>
  <li>{{ user._id }}</li>
</ul>
</div>
<div *ngIf="product">
<ul>
  <li>{{ product.Varenummer }}</li>
  <li>{{ product._id }}</li>
  <li>{{ product.Varenavn }}</li>
</ul>
</div>

<div *ngIf="reqeusted_product">
<p> HELLO THERE</p>
<ul *ngFor="let product of reqeusted_product">
  <li>{{ product.Varenummer }}</li>
  <li>{{ product._id }}</li>
  <li>{{ product.Varenavn }}</li>
</ul>
</div>