<br>
<div class="container-fluid">
  <div class="container-fluid">
    <form autocomplete="off" (sumbit)="handleListEvent($event)">
      <div class="row">
        <div class="dropdown col-md-3">
          <div class="input-group">
            <input class="form-control" type="text" name="searchValue" placeholder="Search" [(ngModel)]="searchValue" (click)="handleKeyUp(searchValue)" (keyup)="handleKeyUp(searchValue, $event)">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary" (click)="updateNav()">Search</button>
            </div>
          </div>
          <ul class="list-group dropdown-menu" *ngIf="autoCompleteResults.length > 0">
            <li class="list-group-item action mr-sm-2" *ngFor="let result of autoCompleteResults" type="submit" (click)="handleListEvent($event)">
              {{ result.Varenavn }}
            </li>
          </ul>
        </div>
        <div class="col-md-3 offset-md-6">
          <select class="form-control" name="selectedSortOption" [(ngModel)]="selectedSortOption" (change)="sort()">
            <option *ngFor="let sortOption of availableSortOptions" [ngValue]="sortOption">
              Sorter etter {{ sortOption.label }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="showFilters">
        <div class="row">
          <div class="col-md-3">
            <b>Varetyper</b>
            <div class="checkbox" *ngFor="let productType of productTypeFilters">
              <label><input type="checkbox" [checked]="productType.state" (change)="productType.state = !productType.state">{{productType.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div [class]="getProductListClass()" *ngFor="let product of products">
        <div class="card">
          <h5 class="card-header">{{product.Varenavn}}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">Varetype:</h5>
                <h6 class="card-subtitle text-muted">{{product.Varetype}}</h6>
              </div>
              <div class="col-md-4">
                <h5 class="card-title">Land:</h5>
                <h6 class="card-subtitle text-muted">{{product.Land}}</h6>
              </div>
              <div class="col-md-4">
                <h5 class="card-title">Pris:</h5>
                <h6 class="card-subtitle text-muted">{{ product.Pris | number : '1.2-2'}},-</h6>
              </div>
              <div class="col-md-2 offset-md-10" *ngIf="loggedInUser['favorites'] && products.length !== 0">
                <button *ngIf="!loggedInUser['favorites'].includes(product._id); else elseBlock"
                        (click)="addFavorite(product._id)" class="btn btn-sm btn-success">
                  Favorite
                </button>
                <ng-template #elseBlock>
                  <button (click)="removeFavorite(product._id)" class="btn btn-sm btn-warning">
                    Remove
                  </button>
                </ng-template>
              </div>
              <br>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
    <div class="row justify-content-md-center" *ngIf="dataAvailable">
      <button class="btn btn-primary" (click)="loadMore()">Load More</button>
    </div>
  </div>
</div>
<br>
