<br>
<div class="container-fluid">
  <div class="container-fluid">
    <form class="form-horizontal" autocomplete="off" (sumbit)="handleListEvent($event)">
      <div class="row">
        <div class="dropdown col-sm-4 col-md-3">
          <button *ngIf="showFilters" class="btn btn-primary" (click)="setActiveFilters()">Apply Filters</button>
          <button *ngIf="!showFilters" class="btn btn-primary" (click)="showFilters = !showFilters">Show Filters</button>
          <button *ngIf="showFilters" class="btn btn-warning" (click)="showFilters = !showFilters">Hide Filters</button>
        </div>
        <div class="col-md-3 col-sm-4 offset-md-6 d-flex">
          <label class="mb-auto mt-auto mr-1" style="white-space: nowrap;">Sorter etter: </label>
          <select class="form-control" name="selectedSortOption" [(ngModel)]="selectedSortOption" (change)="sort()">
            <option *ngFor="let sortOption of availableSortOptions" [ngValue]="sortOption">
              {{ sortOption.label }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="showFilters">
        <br>
        <div class="card" *ngIf="showFilters">
          <div class="card-body row">
            <div class="col-md-3">
              <div class="align-middle cursor-pointer" (click)="showProductTypeFilters = !showProductTypeFilters">
                <b>Varetyper</b>
                <span class="align-middle badge badge-dark">{{productTypeFilters.length}}</span>
                <span *ngIf="showProductTypeFilters">&#x25B2;</span>
                <span *ngIf="!showProductTypeFilters">&#x25BC;</span>
              </div>
              <div *ngIf="showProductTypeFilters">
                <div class="checkbox" *ngFor="let productType of productTypeFilters">
                  <label><input type="checkbox" [checked]="productType.state" (change)="productType.state = !productType.state">{{productType.name}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="align-middle cursor-pointer" (click)="showCountriesFilters = !showCountriesFilters">
                <b>Land</b>
                <span class="align-middle badge badge-dark">{{countryFilters.length}}</span>
                <span *ngIf="showCountriesFilters">&#x25B2;</span>
                <span *ngIf="!showCountriesFilters">&#x25BC;</span>
              </div>
              <div *ngIf="showCountriesFilters">
                <div class="checkbox" *ngFor="let country of countryFilters">
                  <label><input type="checkbox" [checked]="country.state" (change)="country.state = !country.state">{{country.name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div [class]="getProductListClass()" *ngFor="let product of products">
        <div class="card">
          <h5 class="card-header">{{product.Varenavn}}<br>Alkohol Per Krone: {{product.APK | number : '1.3-3'}}ml/kr</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h5 class="card-title">Varetype:</h5>
                <h6 class="card-subtitle text-muted">{{product.Varetype}}</h6>
              </div>
              <div class="col-md-4">
                <h5 class="card-title">Land:</h5>
                <h6 class="card-subtitle text-muted">{{product.Land}}</h6>
              </div>
              <div class="col-md-4">
                <h5 class="card-title">Pris:</h5>
                <h6 class="card-subtitle text-muted">{{ product.Pris | number : '1.2-2'}},-</h6>
              </div>
              <div class="col-md-2 offset-md-10" *ngIf="loggedInUser['favorites'] && products.length !== 0">
                <button *ngIf="!loggedInUser['favorites'].includes(product._id); else elseBlock"
                        (click)="addFavorite(product._id)" class="btn btn-sm btn-success">
                  Favorite
                </button>
                <ng-template #elseBlock>
                  <button (click)="removeFavorite(product._id)" class="btn btn-sm btn-warning">
                    Remove
                  </button>
                </ng-template>
              </div>
              <br>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
    <div class="row justify-content-md-center" *ngIf="dataAvailable">
      <button class="btn btn-primary" (click)="loadMore()">Load More</button>
    </div>
  </div>
</div>
<br>
