<div *ngIf="display" class="container-fluid">
  <div class="container-fluid">
    <h6 class="card card-header"><b>Favoritt Typer:</b></h6>
    <div *ngIf="loaded | async">
      <div style="width: 100% !important;" class="wordCloud d-flex justify-content-center">
        <div
                AgWordCloud
                [wordData]="wordData"
                [color]="colors"
                [width]="width"
                [options]="options">
        </div>
      </div>
    </div>
    <h6 class="card card-header mb-3"><b>Favoritter:</b></h6>
    <div class="row">
      <div *ngIf="products.length === 0" class="container-fluid">
        <h3>Du har ingen favoritter enda</h3>
        <p>Gjør ett søk for å finne noen</p>
      </div>
      <div class="container-fluid">
        <div class="row row-eq-height">
          <div [class]="getProductListClass()" *ngFor="let product of products">
            <div class="card">
              <div class="card-header">
                <h4 class="link" (click)="redirectToSpecificProduct(product.Varenummer)">
                  {{product.Varenavn}} - {{product.Volum*1000}}ml
                </h4>
                <h5>
                  Alkohol Per Krone:
                  <span *ngIf="product.APK >= 1.0" class="badge badge-success">{{product.APK | number : '1.3-3'}}ml/kr</span>
                  <span *ngIf="1.0 > product.APK && product.APK >= 0.5" class="badge badge-warning">{{product.APK | number : '1.3-3'}}ml/kr</span>
                  <span *ngIf="product.APK < 0.5" class="badge badge-danger">{{product.APK | number : '1.3-3'}}ml/kr</span>
                </h5>
              </div>
              <img style="height: 300px;" class="card-image-top ml-auto mr-auto" src="https://bilder.vinmonopolet.no/cache/300x300-0/{{product.Varenummer}}-1.jpg">
              <hr>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h5 class="card-title">Varetype:</h5>
                    <h6 class="card-subtitle text-muted">{{ product.Varetype }}</h6>
                  </div>
                  <div class="col-md-4">
                    <h5 class="card-title">Land:</h5>
                    <h6 class="card-subtitle text-muted">{{ product.Land }}</h6>
                  </div>
                  <div class="col-md-4">
                    <h5 class="card-title">Pris:</h5>
                    <h6 class="card-subtitle text-muted">{{ product.Pris | number : '1.2-2' }},-</h6>
                  </div>
                  <div class="d-flex flex-row justify-content-end col-md-12 mt-4">
                    <button (click)="removeFavorite(product._id)" class="btn btn-sm btn-warning">
                      Fjern fra Favoritter
                    </button>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
