<h1>Out MongoDB is working!</h1>

<div class="card">
  <h2 class="card-header">Product List</h2>
  <div class="card-body">
    <div class="row">
      <div [class]="getProductListClass()" *ngFor="let product of products">
        <div class="card">
          <h3 class="card-header">{{product.Varenavn}}</h3>
          <button *ngIf="loggedInUser" (click)="onButtonClick(product._id)" >Remove</button>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                <h5 class="card-title">Varetype:</h5>
                <h6 class="card-subtitle text-muted">{{product.Varetype}}</h6>
              </div>
              <div class="col-sm-9">
                <h5 class="card-title">Land:</h5>
                <h6 class="card-subtitle text-muted">{{product.Land}}</h6>
              </div>
              <div class="col-sm-9">
                <h5 class="card-title">Pris:</h5>
                <h6 class="card-subtitle text-muted">{{ product.Pris | number : '1.2-2'}},-</h6>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
